* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000 url('ruta/a/tu/imagen/de/fondo/star-wars.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: #000;
    color: #ffc72b;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
}

.sidebar-left,
.sidebar-right {
    flex: 1;
    background-color: #171717;
    padding: 20px;
    box-sizing: border-box;
}

.formulario {
    flex: 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.formulario .campo {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.formulario input,
.formulario textarea,
.formulario button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

footer {
    background-color: #000;
    color: #ffc72b;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
